@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>


        <article class="content px-4">
            <script src="kiosk.js"></script>
            @Body
        </article>
    </main>
</div>